.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.contentLanding {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 0 96px;
}

.headerLanding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  h1 {
    font-family: var(--fonte-principal);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: var(--espaco-entre-texto);
    color: var(--cor-letra-principal);
  }
}

.navLinks {
  display: flex;
  gap: 32px;

  a {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: var(--espaco-entre-texto);
    text-decoration: none;
    color: var(--cor-letra-secundaria);
    cursor: pointer;

    &:hover {
      color: var(--cor-letra-principal);
    }
  }
}

.ctaButtons {
  display: flex;
  gap: 10px;

  a {
    border-radius: 8px;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 10px;
    cursor: pointer;
    
    &:active {
      transform: translateY(2px);
    }
  }

  .botaoEntrar {
    border: 1px solid var(--cor-bordas-principal);
    color: var(--cor-letra-principal);

    &:hover {
      border-color: var(--cor-bordas-hover);
    }
  }

  .botaoComecar {
    background-color: var(--cor-bg-botao-branco);
    color: var(--cor-texto-preto-botao);

    &:hover {
      box-shadow: 0px 0px 10px 3px rgb(84, 84, 84);
    }
  }
}

.secaoPrincipal {
  padding-top: 142px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}

.containerPrincipalTexto {
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;

  .tagSecaoPrincipal {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--cor-bg-secundario);
    border: 1px solid var(--cor-bordas-principal);
    border-radius: 50px;
    width: fit-content;
    padding: 6px 12px;

    .iconeTag {
      color: var(--cor-carDaily-icone-texto-vermelho);
      font-size: 18px;
    }

    p {
      font-family: var(--fonte-principal);
      font-size: 12px;
      font-weight: 400;
      color: var(--cor-letra-secundaria);
    }
  }

  .tituloSecaoPrincipal {
    font-family: var(--fonte-principal);
    font-size: 40px;
    font-weight: 700;
    color: var(--cor-letra-principal);

    span {
      color: var(--cor-letra-secundaria);
    }
  }

  .subtituloSecaoPrincipal {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: var(--espaco-entre-texto);
    color: var(--cor-letra-secundaria);
  }

  .botoesSecaoPrincipal {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      border-radius: 8px;
      font-family: var(--fonte-principal);
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      padding: 8px 10px;
      cursor: pointer;
      &:active {
        transform: translateY(2px);
      }
    }

    .botaoAbrirMeuEspaco {
      display: flex;
      align-items: center;
      gap: 5px;
      
      background-color: var(--cor-bg-botao-branco);
      color: var(--cor-texto-preto-botao);

      &:hover {
        box-shadow: 0px 0px 10px 3px rgb(84, 84, 84);
      }

      .iconeBotao {
        font-size: 20px;
      }
    }

    .botaoVerComoFunciona {
      border: 1px solid var(--cor-bordas-principal);
      color: var(--cor-letra-principal);

      &:hover {
        border-color: var(--cor-bordas-hover);
      }
    }
  }

  .finalSecaoPrincipal {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
  
    .iconeFinal {
      color: var(--cor-borda-letra-icone-oquefiz);
      font-size: 18px;
    }

    .textoFinal {
      color: var(--cor-letra-secundaria);
      font-family: var(--fonte-principal);
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.containerImagens {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  justify-content: center;

  .imgDashboard{
    height: auto;
    border: 1px solid var(--cor-bordas-principal);
    border-radius: var(--bordas-arredondadas);
    margin-bottom: 20px;
  }
  
}

.containerFluxo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-family: var(--fonte-principal);
    font-size: 40px;
    color: var(--cor-letra-principal);
    font-weight: 700;
    margin-top: 16px;
  }

  .containerCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    width: 100%;
    margin-top: 48px;

    .containerCardsFluxo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-left: 1px solid var(--cor-bordas-principal);
      padding-left: 20px;

      h4 {
        font-family: var(--fonte-principal);
        font-weight: 500;
        font-size: 18px;
        color: var(--cor-letra-principal);
        margin-top: 20px;
        margin-bottom: 12px;
      }

      p {
        font-family: var(--fonte-principal);
        font-size: 14px;
        font-weight: 400;
        color: var(--cor-letra-secundaria);
      }

      .iconeCheck {
        color: var(--cor-carDaily-icone-texto-verde);
      }

      .iconeRocket {
        color: var(--cor-carDaily-icone-texto-azul);
      }

      .iconeWarning {
        color: var(--cor-carDaily-icone-texto-vermelho);
      }
    }
  }

}

.containerConsistencia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 82px;

  h1 {
    font-family: var(--fonte-principal);
    font-size: 40px;
    font-weight: 700;
    color: var(--cor-letra-principal);
    margin-top: 16px;
  }
}

.cardMeio {
  margin-left: auto;
}

.tagFraseSimples {
  font-family: var(--fonte-principal);
  color: var(--cor-letra-secundaria);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 12px;
}

.secaoFinalLanding {
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cor-bg-secundario);
  border: 1px solid var(--cor-bordas-principal);
  border-radius: var(--bordas-arredondadas);
  padding: 57px 0;
  gap: 32px;

  .containerFinalLanding {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .tagFinal {
      font-family: var(--fonte-principal);
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2.4px;
      color: var(--cor-letra-secundaria);
    }

    h1 {
      text-align: center;
      font-family: var(--fonte-principal);
      font-size: 36px;
      font-weight: 600;
      color: var(--cor-letra-principal);
    }

  }

  .btnFinal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px 7px 10px 10px;
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--cor-texto-preto-botao);
    background-color: var(--cor-bg-botao-branco);
    border-radius: var(--bordas-arredondadas);

    &:active {
      transform: translateY(2px);
    }

    &:hover {
      box-shadow: 0px 0px 10px 3px rgb(84, 84, 84);
    }
  }
}

.footerLanding {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  border-top: 1px solid var(--cor-bordas-principal);
  margin-top: 40px;
  

  .containerTopoFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h4 {
      font-family: var(--fonte-principal);
      font-size: 18px;
      font-weight: 600;
      color: var(--cor-letra-principal);
    }

    span {
      font-family: var(--fonte-principal);
      font-size: 12px;
      font-weight: 400;
      color: var(--cor-letra-secundaria);
    }
  }

  .containerDireitosFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    p {
      font-family: var(--fonte-principal);
      font-size: 12px;
      font-weight: 400;
      color: var(--cor-letra-secundaria);
    }
  }

  .textoFinalFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 100%;
    overflow: hidden;
    max-height: 159px;
    margin-top: 25px;

    h1 {
      margin-bottom: -60px;
      color: transparent;
      font-family: var(--fonte-principal);
      font-size: 163px;
      letter-spacing: 2px;
      background: linear-gradient(to bottom, var(--cor-letra-principal) 25%, var(--cor-bg-principal) 70%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;

    }
  }
  
}
