.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerConteudoHeader {
  width: 1280px;
  padding: 0 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    color: var(--cor-letra-principal);
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 24px;
    letter-spacing: var(--espaco-entre-texto);
  }

  button {
    border: none;
    background-color: transparent;
    border-radius: var(--bordas-arredondadas);

    &:hover {
      cursor: pointer;
      background-color: var(--cor-bg-hover-icone);
    }
  }
}

.conteudoBotoesHeader {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navegacaoPages {
  
  ul {
    display: flex;
    gap: 5px;
    list-style: none;

    a {
      font-family: var(--fonte-principal);
      color: var(--cor-letra-secundaria);
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 500;
      padding: 5px 12px;
      border-radius: var(--bordas-arredondadas-2);

      &:hover {
        background-color: var(--cor-bg-hover-icone);
        color: var(--cor-letra-principal);

      }

      &.linkAtivo {
        background-color: var(--cor-bg-hover-icone);
        color: var(--cor-letra-principal);
      }
    }
  }
}

.iconeHeader {
  padding: 4px;
  color:  var(--cor-icones);
}
