:root {
  --cor-bg-principal: #0F0F0F;
  --cor-bg-secundario: #171717;
  --cor-letra-principal: #EDEFEE;
  --cor-letra-secundaria: #ABABAB;
  --cor-icones: #ABABAB;
  --cor-bg-hover-icone: #252525;
  --cor-bordas-principal: #2B2B2B;
  --cor-bordas-hover: #3C3C3C;
  --bordas-arredondadas: 8px;
  --bordas-arredondadas-2: 4px;
  --espaco-entre-texto: 1.2px;
  --fonte-principal: 'Inter', sans-serif;
  --cor-checkbox-checked: #00B168;
}

[data-theme="light"] {
  --cor-bg-principal: #F5F5F5;
  --cor-bg-secundario: #FFFFFF;
  --cor-letra-principal: #1A1A1A;
  --cor-letra-secundaria: #4D4D4D;
  --cor-icones: #4D4D4D;
  --cor-bg-hover-icone: #E0E0E0;
  --cor-bordas-principal: #CCCCCC;
  --cor-bordas-hover: #B3B3B3;
  --bordas-arredondadas: 8px;
  --bordas-arredondadas-2: 4px;
  --espaco-entre-texto: 1.2px;
  --fonte-principal: 'Inter', sans-serif;
  --cor-checkbox-checked: #00B168;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-bg-principal);
  color: var(--cor-texto-principal);
  transition: background-color 0.2s ease, color 0.2s ease;
}
